/* Auswahl der Zone */
/* Spalten einer Zeile*/
/* .sourceZone {
  top: 100px;
  position: relative;
  left: 20px;
} */
/* #frame {
  border: solid 0.5px;
  border-color: red;
  /* height: 100px; */
/* } */
/* #frame1,#frame2 {
border: solid 0.5px; */
    
/* border-color:yellow;
} */ 

/* .targetZone {
  top: 100px;
  position: relative;
  left: 220px;
} */
